################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LambdaTestSeleniumPlaygroundTests/.vs/LambdaTestSeleniumPlaygroundTests/CopilotIndices/17.14.794.21998
/LambdaTestSeleniumPlaygroundTests/.vs/LambdaTestSeleniumPlaygroundTests
